body {
  background-color: #244b45;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  color: white;
}

header {
  border-bottom: 1px solid #527d54;
  padding: 0 0 30px 0;
}

a {
  color: #6b953a;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 36px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.weather-app {
  background-color: #527d54;
  max-width: 600px;
  margin: 30 auto;
  padding: 30px;
  box-shadow: 0 30px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #244b45;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #6b953a;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 15px;
  color: white;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-details strong {
  color: #034768;
}

.weather-app-temp-details {
  display: flex;
}
.weather-app-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-unit {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
footer {
  border-top: 1px solid #527d54;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(4, 42, 85, 0.585);
  font-weight: bold;
}
